body {
  background-color: #f2f5fc;
}

.calc-top {
  display: flex;
  padding: 30px;
}

a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.balance {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 35px;
}

.balance input {
  width: 125px;
  height: 44px;
  background-color: #f5f6fb;
  color: #000000;
  border-radius: 16px;
  border: 3px solid #ffffff;
}

.balance button {
  width: 150px;
  height: 50px;
  background-color: #f5f6fb;
  color: #52555fb2;
  border-radius: 16px;
  border: 3px solid #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.account {
  display: flex;
  gap: 15px;
}

.periodSelector {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.periodLabel {
  /* text-align: center; */
  margin-bottom: 5px;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.calc-accounts {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 1060px;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #ffffff;
}

.expenses-text,
.income-text {
  display: flex;
  gap: 12px;
  color: #52555F;
  font-weight: 700;
}

.expenses, .income {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin: 0 auto;
}

.expenses {
  width: 1060px;
  height: 358px;
}

.income {
  width: 1060px;
  height: 196px;
}

.expenses-img {
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  gap: 30px;
}

.calc-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.calc-slider-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
}
