header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  min-height: 56px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 40px;
}

.user {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo {
  position: relative;
}

.logo img {
  margin: 13px 0 0 26px;
}

.logo p {
  position: absolute;
  top: 2px;
  left: 47px;
}

.exit-button {
  text-decoration: underline;
  border: none;
  background: transparent;
  color: #52555f;
  font-weight: 400;
}
